/* заготовка
a {
  text-decoration: none;
}

nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
*/

.li-reset(@padding-left: 0) {
  margin: 0;
  padding-left: @padding-left;
  list-style: none;
}

.green-button(@_color) {
  padding: 13px, auto, 11;
  background-color: @color-green;
}
