.li-reset(@padding-left: 0) {
  margin: 0;
  padding-left: @padding-left;
  list-style: none;
}
.a-reset() {
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-line: none;
}
.btn-reset() {
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}


.mob-center(@_width: @mobile-width) {
  width: @_width;
  margin: 0 auto;
}
.mob-indent-block(@_margin-bottom: 20px) {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: @_margin-bottom;
}
.mob-input (@_height: 45px) {
  box-sizing: border-box;
  height: @_height;
  padding: 15px;
  background: none;
  border: solid 1px @color-border;
}

.tab-center(@_width: @tablet-width) {
  width: @_width;
  margin: 0 auto;
}

.desk-center(@_width: @desktop-width) {
  width: @_width;
  margin: 0 auto;
}

.button-mob(@_color: @color-green) {
  .btn-reset;
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  background-color: @_color;
  .font-header(@_font-size: 13.5px, @_line-height: 18px,
  @_text-align: center, @_color: @color-alt, @_transform: uppercase);
}
.font-text(@_font-size: 14px, @_line-height: 18px,
            @_text-align: left, @_color: @color-text) {
  font-family: @font-text;
  font-size: @_font-size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: @_line-height;
  text-align: @_text-align;
  color: @_color;
}
.font-header(@_font-size: 36px, @_line-height: 60px, @_transform: none,
              @_text-align: left, @_color: @color-header) {
  font-family: @font-header;
  font-size: @_font-size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: @_line-height;
  text-transform: @_transform; //(uppercase)
  text-align: @_text-align;
  color: @_color;
}
.font-select(@_font-size: 16px, @_line-height: 20px, @_transform: uppercase,
              @_text-align: center, @_color: @color-header) {
  font-family: @font-header;
  font-size: @_font-size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: @_line-height;
  text-transform: @_transform; //(none)
  text-align: @_text-align;
  color: @_color;
}
.font-nav(@_font-size: 20px, @_line-height: 20px, @_transform: uppercase,
          @_text-align: center, @_color: @color-header) {
  font-family: @font-header;
  font-size: @_font-size;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: @_line-height;
  text-transform: @_transform;
  text-align: @_text-align;
  color: @_color;
}
