
  .advantages {
    .mob-center;
    .mob-indent-block(16px);
    &__title {
      .font-header;
      margin-top: -26px;
    }
    &__list {
      .li-reset;
      .font-text;
    }
    &__item {
      padding-bottom: 32px;
      margin-left: 80px;
      &--list {
      }
      &--glass {
      }
      &--device {
      }
      &--watch {
      }
    }
  }
