  .anketa {
    &__description {
      .mob-center;
      padding: 0 20px;
      .font-select(@_font-size: 14px, @_line-height: 18px, @_text-align: left);
      margin-bottom: 39px;
    }
    &__note {
    .mob-center;
    padding: 0 20px;
    }
    &__button {
    .mob-center;
    padding: 0 20px;
    }
  }
