
  .footer-social {
    &__item {
    }
    &__link{
    }
    &__vkontakte {
      display: block;
      background-image: url(/img/icon-vk-mobile.svg);
      background-repeat: no-repeat;
    }
    &__instagramm {
      display: block;
      background-image: url(/img/icon-insta-mobile.svg);
      background-repeat: no-repeat;
    }
    &__facebook {
      display: block;
      background-image: url(/img/icon-fb-mobile.svg);
      background-repeat: no-repeat;
    }

    &__line--before {
    }
    &__line--after{
    }
  }
