.nav-list {
  .li-reset;
  display: flex;
  flex-direction: column;
  align-content: center;
  &__item {
    margin: 24px auto;
    &--active {
    }
  }
  &__link {
    .a-reset;
    .font-nav;
    margin: 0;
    &:hover {}
    &:active {}
    &:focus {}
  }
}
