
  .promo {
    .mob-center;
    &__header {
      height: 305px;
      background-color: @color-green;
      background-image: url(/img/index-background-mobile@1x.jpg);
      background-repeat: no-repeat;

    }
    &__title {
      .font-header;
    }
    &__slogan {
      .font-header;
    }
    &__product {
    }

    &__choice {
      .a-reset;
      &:hover {}
      &:active {}
      &:focus {}
    }

    &__wrap {
    }
  }
