.slider-cat {
  position: relative;
  display: flex;

  &__wrap-input input {
    display: none
  }

  &__wrap-slide {
    position: relative;
    width: 311px;
    height: 232px;
  }

  &__cat {
    position: absolute;
    width: inherit;
    height: inherit;
  }

  &__before-cat {
    background-image: url("/img/before-mobile@1x.png");
  }

  &__after-cat {
    display: none;
    background-image: url("/img/after-mobile@1x.png");
  }

  &__wrap-ctrl {
    position: absolute;
    width: 84px;
    height: 14px;
    bottom: -39px;
    left: 119px;
    border-radius: 6px;
    border: solid 1px #cdcdcd;
    background-color: @color-alt;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 35px;
      height: 6px;
      top: 4px;
      left: 6px;
      border-radius: 3px;
      background-color: @color-green;
    }
  }

  &__before {
    position: absolute;
    bottom: -3px;
    left: -55px;
    .font-select(@_text-align: left);
  }

  &__after {
    position: absolute;
    bottom: -3px;
    right: -58px;
    .btn-reset;
    .font-select(@_text-align: right);
  }
}

//планшет
@media (min-width: @tablet-width) {
  .slider-cat {
    box-sizing: border-box;
   height: 675px;
    border-top: solid 210px @color-alt;
    background-color: @color-light;

    &__before-cat {
      width: 311px;
      height: 232px;
    }

    &__before {
      bottom: -35px;
      left: 44px;
      .font-select(@_text-align: left);
    }

    &__after-cat {
    }

    &__after {
      bottom: -35px;
      right: 44px;
      .font-select(@_text-align: right);
    }

    &__line {
    }

    &__line--move{
    }
  }
}

//десктоп
@media (min-width: @desktop-width) {
}
