.slider {
  .mob-center;
  background-color: @color-light;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 88px;
  &__title {
    .font-header;
    margin-top: 0px;
  }
  &__text {
    .font-text;
  }
  &__cost {
    .font-select;
  }
}
